body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background: #f8f8f8;
}

.link-list a {
	display: inline-block;
	margin: 4px 8px;
	color: inherit;
	text-decoration: inherit;
}

.link-list a:first-child {
	margin-left: 0px;
}

.link-list a:hover {
	text-decoration: underline;
}

#nav-container {
	margin-top: 3px;
	margin-bottom: 6px;
}

#nav-container > nav,
#body-container {
	max-width: 980px;
	margin: 0px auto;
	padding: 0em 1em;
}

#body-container {
	background: white;
	box-shadow: 0px 0px 10px #baa;
	border-radius: 4px;
	border: solid 1px white;
	margin-bottom: 12px;
	padding-bottom: 2em;

	border-radius: 32px 0px;
	padding: 32px;
	padding-top: 8px;
	box-shadow: 0px 8px 16px #bac, 0px 32px 64px #bac8;
}

body > h1 {
	background: white;
	margin: 0px;
	padding: 0.5em 0.5em;
}

h1 {
	text-align: center;
}

:is(h1, h2, h3, h4, h5, h6) a {
	color: inherit;
	text-decoration: inherit;
}

:is(h1, h2, h3, h4, h5, h6) a:hover {
	text-decoration: underline;
}

#get-started-link {
	float: right;
	margin: 1em;
	background-color: #880000;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	padding: 1em;
	display: inline-block;
}

summary {
	cursor: pointer;
}

.gimmick-slider + div {
	position: relative;
	width: 100%;
	height: 14em;
}

.gimmick-slider + div > * {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
	transition: opacity 200ms;
	opacity: 1;

	tab-size: 2;
}






body {
  accent-color: #a5f;
}

body > h1:nth-child(1) > a:nth-child(1) > span:nth-child(1) {
  color: #a5f !important;
}

#nav-container > nav {
  gap: 8px;
  align-items: center;
  height: 40px;
  padding: 0;
}

#nav-container > nav > a {
    display: inline-block;
    padding: 0 16px;
    color: inherit;
    text-decoration: inherit;
    height: 40px;
    display: block;
    line-height: 40px;
  border-radius: 8px;
  transition: background-color 0.2s ease-out;
}

#nav-container > nav > a:hover,
#nav-container > nav > a:active {
  background-color: #0002;
}

@media screen and (max-width: 700px) {
  #nav-container > nav > a {
    padding: 0 8px;
  }
}

#nav-container > nav > a > img {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#nav-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

#get-started-link {
  background-color: #6800d0;
  text-decoration: none;
  border-radius: 16px 0px;
  padding: 1em 2em;
  text-align: center;
  transition: background-color 0.1s ease-out;
}

#get-started-link:hover {
  background-color: #82f;
}
